html {
  height: 100%;
}

body {
  margin: 0%;
  padding: 3%;
  background-color: beige;
  background: cover;
  height: 100%;
}

#middleBlock {
  text-align: center;
  font-size: 35px;
}

img {
  border-radius: 100%;
  overflow: hidden;
  background-color: blue;
  top: 30%;
  width: 500px;
  height: 500px;
  margin-bottom: 3%;
}
h1 {
  position: absolute;
  padding: 3%;
  margin: 0%;
  background-color: white;
  right: 20%;
  top: 30%;
  font-size: 50px;
}

.column {
  float: left;
  width: 50%;
}

.row {
  background-color: white;
  display: flex;
}

/* .row:after {
  display: flex;
  justify-content: center;
  display: table;
  clear: both;
} */

#colIng {
  column-width: 30%;
}

#directions,
#ingredients {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}
ul {
  list-style-type: none;
}
ol,
ul {
  justify-content: center;
  font-size: 30px;
  margin: 0%;
  padding: 0%;
}

ul {
  text-align: center;
}
li {
  padding-bottom: 3%;
}

button {
  display: none;
}

/* 
  table{
      display: flex;
      justify-content: center;
      background-color: blue;
  } 
  */
